<table class="table">
<tbody>
	
	<!-- Start of 2015 Publications                         
	*
	*
	*
	*
	-->
	
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/grappa-usenix-2015.pdf">Latency-Tolerant Software Distributed Shared Memory</a>.
			</span><br />
			<span class="authors">
				Jacob Nelson, Brandon Holt, Brandon Myers, Preston Brigg, Luis Ceze, Simon Kahan, and Mark Oskin.
			</span><br />
			<span class="venuetype"></span><span class="venue">2015 USENIX Annual Technical Conference (USENIX ATC 15)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	
	
	
	
	<tr>
		<td>
			<span class="date">
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/snapl15-cliche.pdf">Hardware-Software Co-Design: Not Just a Cliche</a>.
			</span><br />
			<span class="authors">
				Adrian Sampson, James Bornholt, and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">Summit on Advances in Programming Languages (SNAPL)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	
	
	<tr>
		<td>
			<span class="date">
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/asplos15-approxdebug.pdf">Monitoring and Debugging the Quality of Results in Approximate Programs</a>.
			</span><br />
			<span class="authors">
				Michael Ringenburg, Adrian Sampson, Isaac Ackerman, Luis Ceze, and Dan Grossman.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Architectural Support for Programming Languages and Operating Systems (ASPLOS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/cgo15-lws.pdf">Data Provenance Tracking for Concurrent Programs</a>.
			</span><br />
			<span class="authors">
				Brandon Lucia and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Symposium on Code Generation and Optimization (CGO)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/snnap-hpca2015.pdf">SNNAP: Approximate Computing on Programmable SoCs via Neural Acceleration</a>.
			</span><br />
			<span class="authors">
				Thierry Moreau, Mark Wyse, Jacob Nelson, Adrian Sampson, Hadi Esmaeilzadeh, Luis Ceze, and Mark Oskin.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Symp. on High Performance Computer Architecture (HPCA)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="ftp://ftp.cs.washington.edu/tr/2014/10/UW-CSE-14-10-01.pdf">Compiling Efficient Query Plans for Distributed Shared Memory</a>.
			</span><br />
			<span class="authors">
				Brandon Myers, Daniel Halperin, Jacob Nelson, Mark Oskin, Luis Ceze, and Bill Howe.
			</span><br />
			<span class="venuetype">Technical Report </span><span class="venue">UW-CSE-14-10-01, University of Washington</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/oopsla14-alembic.pdf">Alembic: Automatic Locality Extraction via Migration</a>.
			</span><br />
			<span class="authors">
				Brandon Holt, Preston Briggs, Luis Ceze, and Mark Oskin.
			</span><br />
			<span class="venuetype"></span><span class="venue">SPLASH-OOPSLA</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/pldi14-passert.pdf">Expressing and Verifying Probabilistic Assertions</a>.
			</span><br />
			<span class="authors">
				Adrian Sampson, Pavel Panchekha, Todd Mytkowicz, Kathryn McKinley, Dan Grossman, and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">Conference on Programming Language Design and Implementation (PLDI)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/mspc14-time-machine.pdf">Nonvolatile Memory is a Broken Time Machine</a>.
			</span><br />
			<span class="authors">
				Benjamin Ransford and Brandon Lucia.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM SIGPLAN Workshop on Memory Systems Performance and Correctness (MSPC w/ PLDI)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/asplos14-lard.pdf">Low-Level Detection of Language-Level Data Races with LARD</a>.
			</span><br />
			<span class="authors">
				Benjamin P. Wood, Luis Ceze, and Dan Grossman.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Architectural Support for Programming Languages and Operating Systems (ASPLOS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/asplos14-stacked.pdf">Mercury: An Integrated, 3D-Stacked Server Design for Increasing Physical Density of Key-Value Stores</a>.
			</span><br />
			<span class="authors">
				Anthony Gutierrez, Michael Cieslak, Ronald G. Dreslinski, Luis Ceze, and Trevor Mudge.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Architectural Support for Programming Languages and Operating Systems (ASPLOS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/grappa-tr-2014-02.pdf">Grappa: A Latency-Tolerant Runtime for Large-Scale Irregular Applications</a>.
			</span><br />
			<span class="authors">
				Jacob Nelson, Brandon, Holt, Brandon Myers, Preston Briggs, Luis Ceze, Simon Kahan, and Mark Oskin.
			</span><br />
			<span class="venuetype">Technical Report </span><span class="venue">UW-CSE-14-02-01, University of Washington</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/approxstorage-micro2013.pdf">Approximate Storage in Solid-State Memories</a>.
			</span><br />
			<span class="authors">
				Adrian Sampson, Jacob Nelson, Karin Strauss, and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Symposium on Microarchitecture (MICRO)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://spectrum.ieee.org/computing/software/enerj-the-language-of-goodenough-computing">EnerJ, the Language of Good-Enough Computing</a>.
			</span><br />
			<span class="authors">
				Adrian Sampson, Luis Ceze, and Dan Grossman.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Spectrum Feature Article</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/oopsla13-inputcovering.pdf">Input-Covering Schedules for Multithreaded Programs</a>.
			</span><br />
			<span class="authors">
				Tom Bergan, Luis Ceze, and Dan Grossman.
			</span><br />
			<span class="venuetype"></span><span class="venue">SPLASH-OOPSLA</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/holt-pgas13.pdf">Flat Combining Synchronized Global Data Structures</a>.
			</span><br />
			<span class="authors">
				Brandon Holt, Jacob Nelson, Brandon Myers, Preston Briggs, Luis Ceze, Simon Kahan, and Mark Oskin.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on PGAS Programming Models (PGAS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/myers-imdm13.pdf">Compiled Plans for In-Memory Path-Counting Queries</a>.
			</span><br />
			<span class="authors">
				Brandon Myers, Jeremy Hyrkas, Daniel Halperin, and Bill Howe.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Workshop on In-Memory Data Management and Analytics (IMDM w/ VLDB)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/isca13-dna.pdf">DNA-based Molecular Architecture with Spatially Localized Components</a>.
			</span><br />
			<span class="authors">
				Richard Muscat, Karin Strauss, Luis Ceze, and Georg Seelig.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Symposium on Computer Architecture (ISCA)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Pomace: A Grappa for Non-Volatile Memory.
			</span><br />
			<span class="authors">
				Jacob Nelson, Brandon Holt, Brandon Myers, Preston Briggs, Luis Ceze, Simon Kahan, and Mark Oskin.
			</span><br />
			<span class="venuetype"></span><span class="venue">Non-Volatile Memories Workshop (NVMW)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/asplos021-hunt.pdf">DDOS: Taming Nondeterminism in Distributed Systems</a>.
			</span><br />
			<span class="authors">
				Nicholas Hunt, Tom Bergan, Luis Ceze, and Steven Gribble.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Architectural Support for Programming Languages and Operating Systems (ASPLOS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/aviso_ASPLOS2013.pdf">Cooperative Empirical Failure Avoidance for Multithreaded Programs</a>.
			</span><br />
			<span class="authors">
				Brandon Lucia and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Architectural Support for Programming Languages and Operating Systems (ASPLOS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	
	<tr>
		<td>
			<span class="date">
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="https://cloud.githubusercontent.com/assets/12739884/8318131/5de5bbee-19d0-11e5-8c7e-291558ef8a2e.png" width="16"
						height="16" alt="PDF" />
				<a href="http://sampa.cs.washington.edu/papers/wodet3-paper6.pdf">Input-Covering Schedules for Multithreaded Programs</a>.
			</span><br />
			<span class="authors">
				Tom Bergan, Dan Grossman, and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">Workshop on Determinism and Correctness in Parallel Programming w/ International Conference on Architectural Support for Programming Languages and Operating Systems (WoDet w/ ASPLOS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

</tbody>
</table>



       

        </div> <!-- /container -->

        <!-- Support retina images. -->
        <script type="text/javascript"
            src="/js/srcset-polyfill.js"></script>
    </body>
</html>
